ejercicio-9/vehiculo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="vehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vehiculo" type="tipoDeVehiculo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<xs:simpleType name="tipoDeVehiculo">
<xs:restriction base="xs:string">
<xs:enumeration value="barco"/>
<xs:enumeration value="tren"/>
<xs:enumeration value="coche"/>
<xs:enumeration value="bicicleta"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
